body {
    background-image: url('D:/PlantillasProyectoPaginaBi/PaginaWeb/Img/Imagenes de fondo/2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    font-family: Arial, sans-serif;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: -1;
}

header {
    background: transparent;
    padding: 15px;
    margin-top: 10px;
    margin-left: 85px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'PlayFair';
}

#logoContainer {
    display: flex;
    align-items: center;
    width: 150px;
    border-radius: 10%;
}

img {
    max-width: 100%;
    max-height: 100px;
    width: auto;
    height: auto;
}

h1 {
    margin: 0;
    font-size: 32px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    flex-grow: 1;
    text-align: center;
}

#logoContainer h1 {
    margin-left: auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 90px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Gotham', sans-serif;
    font-size: 22px;
    transition: color 0.3s ease;
}

nav li {
    margin-right: 60px;
}

.header nav ul li a#inicio {
    font-size: 24px;
    color: #8EB523;
}

nav a:hover,
nav a:active {
    color: #8EB523;
}

.body-container {
    padding: 30px;
}

h2 {
    font-size: 42px;
    color: #000000;
}

#palmasVisionContainer {
    position: relative;
    display: flex;
    align-items: center;
}

#palmasVisionContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0px;
    width: 8px;
    height: 100%;
    background-color: #ffffff;
}

#palmas {
    color: #ffffff;
    font-size: 60px;
    margin-top: 5px;
    margin-left: 20px;
}

#imgReport {
    max-width: 70%;
    /* Ajuste máximo del ancho */
    max-height: 50%;
    margin-left: 20px;
    margin-top: -20px;
}

p {
    color: #ffffff;
    font-family: 'Gotham', sans-serif;
    font-size: 20px;
    margin-left: 63px;
    margin-right: -120px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.column {
    flex: 1;
    padding: 20px;
    margin: 10px;
}

.column.left-column {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    padding: -10px;
    height: 320px;
    text-align: start;

}

.column.right-column {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    text-transform: capitalize;
    /* Aplicar capitalización */
    height: 320px;
    text-align: start;
}

.image-container {
    background-image: url('D:/PlantillasProyectoPaginaBi/PaginaWeb/Img/Carrusel/1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.menu-container {
    /* Estilos para el menú desplegable */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-item {
    background-color: #8EB523;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    text-align: start;
    font-weight: bold;
}

.menu-dropdown-content {
    display: none;
    position: absolute;
    background-color: #8EB523;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.menu-item.active .menu-dropdown-content {
    display: block;
}

.menu-dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu-dropdown-content a:hover {
    background-color: #005a00;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #022D21;
    color: #ffffff;
    text-align: center;
    /* Cambiado a "center" en lugar de "start" */
    padding: 12px;
    font-size: 20px;
}

.footer p {
    margin-left: 0;
    /* Cambiado el valor del margen izquierdo a 0 */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.menu-dropdown-content .dropdown-details {
    display: none;
    background-color: #fff;
    border: 1px solid #8EB523;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 100%;
    width: 200px;
}

.menu-dropdown-content:hover .dropdown-details {
    display: block;
}

/* Agrega estos estilos al final de tu archivo CSS */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content-wrapper {
    display: flex;
    justify-content: center; /* Ajustado a "center" para centrar ambas columnas */
}

.column {
    box-sizing: border-box; /* Agregado para incluir el padding en el ancho y alto total */
    overflow: auto; /* Añadido para permitir el desplazamiento si es necesario */
}

.column.left-column {
    flex: 1;
    padding: 20px;
    margin: 10px;
    max-width: 40%; /* Ajusta el ancho máximo según sea necesario */
}

.column.right-column {
    flex: 1;
    padding: 20px;
    margin: 10px;
    max-width: 40%; /* Ajusta el ancho máximo según sea necesario */
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    justify-content: center;
    border: 1px solid #888;
    width: 80%; /* Ajusta el ancho del modal según tus necesidades */
    height: 300px;
    margin: auto; /* Ajuste para centrar verticalmente */
    margin-top: 50px; /* Ajusta el margen superior según sea necesario */
    display: flex; /* Añadido para centrar contenido verticalmente */
    flex-direction: column; /* Añadido para centrar contenido verticalmente */
}

.column p {
    color: #000;
    margin-top: 0;
    margin-bottom: 10px;
}

.column a {
    color: #000;
}

/* Ajustes para la imagen */
.column img {
    max-width: 100%;
    height: auto;
}