body::before {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: -1;
}

body.modal-opened::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Ajusta el valor alpha para la opacidad del fondo oscuro */
    z-index: 999;
}

body.modal-opened .modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    background: transparent;
    padding: 15px;
    margin-top: 10px;
    margin-left: 90px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'PlayFair';
}

#logoContainer {
    display: flex;
    align-items: center;
    width: 150px;
    border-radius: 10%;
}

img {
    max-width: 100%;
    max-height: 100px;
    width: auto;
    height: auto;
}

#logoContainer h1 {
    margin-left: auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 90px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Gotham', sans-serif;
    font-size: 22px;
    transition: color 0.3s ease;
    font-family: 'GothamBook', sans-serif;
}

nav li {
    margin-right: 60px;
}

.header nav ul li a#inicio {
    font-size: 24px;
    color: #8EB523;
    font-family: 'GothamBold', sans-serif;
}

.body-container {
    padding: 30px;
}

h2 {
    font-size: 28px;
    color: #000000;
    font-family: 'GothamBlock', sans-serif;
}

#palmasVisionContainer {
    position: relative;
    display: flex;
    align-items: center;
}

#palmasVisionContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0px;
    width: 8px;
    height: 100%;
    background-color: #ffffff;
}

#palmas {
    color: #ffffff;
    font-size: 60px;
    margin-top: 5px;
    margin-left: 20px;
    font-family: 'GothamBlock', sans-serif;
}

#imgReport {
    max-width: 70%;
    /* Ajuste máximo del ancho */
    max-height: 50%;
    margin-left: 20px;
    margin-top: -20px;
}

p {
    color: #ffffff;
    font-size: 20px;
    margin-left: 63px;
    margin-right: -120px;
}

.row {
    display: flex;
    justify-content: space-between;
    
}

.column {
    flex: 1;
    padding: 20px;
    margin: 10px;
}

.column.left-column {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    border: none;
    text-transform: capitalize;
    /* Habilita la barra de desplazamiento vertical si es necesario */
    height: 320px;
    text-align: start;
}

.column.right-column {
    border-radius: 5px;
    border: none;
    text-transform: capitalize;
    overflow-y: auto;
    /* Habilita la barra de desplazamiento vertical si es necesario */
    height: 320px;
    text-align: start;
}


.right-column {
    margin-left: 20px; /* Puedes ajustar este valor según sea necesario */
    margin-right: 120px; /* Puedes ajustar este valor según sea necesario */
}

.image-container {
    background-image: url('https://palmasbiweb.surge.sh/Img/Carrusel/1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.menu-container {
    /* Estilos para el menú desplegable */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-item {
    background-color: #8EB523;
    padding: 10px;
    color: #fff;
    font-family: 'GothamBook', sans-serif;
    cursor: pointer;
    text-align: start;
    font-weight: bold;
}

.menu-item.active .menu-dropdown-content {
    background-color: rgba(255, 255, 255, 0.8);
    /* Color de fondo de las celdas */
    display: block;
}

.menu-dropdown {
    /* Agrega estas líneas */
    border: none;
    box-shadow: none;
}

.menu-dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu-dropdown-content a:hover {
    background-color: #005a00;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #022D21;
    color: #ffffff;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.footer p {
    font-family: 'GothamBlock', sans-serif;
    font-size: 20px;
    margin-left: 7px;
}

/* Estilos mejorados para el botón de cerrar */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
}

/* Agrega un fondo circular rojo al botón de cerrar */
.close::before {
    content: '\00D7'; /* Código Unicode para la X */
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Hace que el fondo sea circular */
    text-align: center;
    line-height: 40px; /* Alinea verticalmente la X */
    color: #333; /* Color oscuro para la X */
}

/* Agrega estos estilos al final de tu archivo CSS */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.modal-content-wrapper {
    display: flex;
    justify-content: center;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 460px;
    border-radius: 15px;
    /* Añade bordes circulares al modal */
    max-width: 800px;
    height: 300px;
    margin: auto;
    position: relative;
    /* Agrega esto para que la posición absoluta de .close sea relativa al modal */
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.column.left-content img {
    height: auto;
    margin-left: -90px;
    margin-bottom: 20px;
    /* Ajuste del espacio entre la imagen y el texto */
}

.column.right-content {
    height: auto;
    margin-left: -200px;
    margin-bottom: 20px;
}

/* Estilos del primer párrafo (título) en el modal */
.modal-content p:first-child {
    color: #000;
    font-family: 'GothamBlock', sans-serif;
    font-size: 24px; /* Puedes ajustar el tamaño según tus preferencias */
    margin-bottom: 10px;
    margin-top: -20px;
}

/* Estilos del resto de los párrafos en el modal */
.modal-content p:not(:first-child) {
    color: #000;
    font-family: 'GothamBook', sans-serif;
    font-size: 18px; /* Puedes ajustar el tamaño según tus preferencias */
    margin-bottom: 10px;
}


.custom-table {
    margin-top: 8px; /* Ajuste del espacio entre la tabla personalizada y el menú */
    max-height: 0;
    height: 120px; /* Altura inicial de la tabla, comienza oculta */
    opacity: 0; /* Opacidad inicial */
    transition: max-height 0.5s, opacity 0.5s; 
    font-family: 'GothamBook', sans-serif;
    /* Añade transiciones para suavizar la animación */
}

.menu-item.active .custom-table {
    max-height: 10px; /* Altura máxima de la tabla al estar activa */
    height: 20px;
    /* Altura máxima de la tabla al estar activa */
    opacity: 1; /* Opacidad al estar activa */
}

.custom-table table {
    width: 100%;
    border-collapse: collapse;
}

.custom-table th,
.custom-table td {
    padding: 10px;
    text-align: left;
    /* Borde de las celdas */
}

#openChatButton {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #8EB523;
    color: #fff;
    font-size: 16px;
    border: none;
    margin: 20px;
    cursor: pointer;
    outline: none;
    position: fixed;
    bottom: 45px;
    right: 20px;
    z-index: 999;
}

#chatIframe {
    display: none;
    position: fixed;
    bottom: 80px; /* Ajusta según sea necesario para dar espacio al botón */
    right: 20px;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    z-index: 998;
}
#closeChatButton {
    position: absolute;
    top: 5px;
    right: 5px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 cuadros por fila */
    gap: 30px; /* Espacio entre cuadros */
    max-height: 400px; /* Altura máxima para activar el scroll vertical */
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 7px;
    padding: 12px;
    margin-bottom: 15px;
    height: 42px; /* Altura ajustada de los cuadros */
    position: relative; /* Asegura que los elementos posicionados internos se relacionen con este contenedor */
    display: flex; /* Usa flexbox para centrar el contenido verticalmente */
    align-items: center; /* Centra verticalmente el contenido */
}

/* Estilo para la imagen dentro del grid-item */
.grid-item-image {
    margin-right: -20px; /* Ajusta el espacio entre la imagen y el texto según sea necesario */
    margin-left: -60px; /* Mueve la imagen más a la izquierda, ajusta según sea necesario */
}

/* Estilo del texto dentro de los cuadros */
.grid-item p {
    margin-left: 63px; /* Puedes ajustar este valor según sea necesario */
    color: #000;
    font-family: 'GothamBook', sans-serif;
    font-size: 14px; /* Tamaño de fuente ajustado */
    margin: 0;
}

@media (max-width: 768px) {
    /* Estilos responsivos para pantallas más pequeñas */
    .grid-container {
        grid-template-columns: repeat(2, 1fr); /* 2 cuadros por fila en pantallas pequeñas */
    }

    .grid-item {
        height: 100px; /* Altura ajustada para pantallas pequeñas */
    }

    /* Ajusta otros estilos responsivos según sea necesario */
}

/* Estilo general de la barra de desplazamiento */
::-webkit-scrollbar {
    width: 12px;
}

/* Estilo del riel de la barra de desplazamiento */
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

/* Estilo del pulgar de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
    background-color: #8EB523;
    border-radius: 6px;
}

/* Cambiar el color del pulgar de la barra de desplazamiento cuando se pasa el mouse sobre él */
::-webkit-scrollbar-thumb:hover {
    background-color: #8EB523;
}

@font-face {
    font-family: 'GothamBlock';
    src: url('https://palmasbiweb.surge.sh/Fonts/gothamblack-font.otf') format('truetype');
    /* Ajusta la ruta y el formato según tu archivo de fuente */
    /* Puedes agregar otros formatos como woff, woff2, etc., para compatibilidad con navegadores */
}

@font-face {
    font-family: 'GothamBold';
    src: url('https://palmasbiweb.surge.sh/Fonts/gothambold-font.otf') format('truetype');
    /* Ajusta la ruta y el formato según tu archivo de fuente */
    /* Puedes agregar otros formatos como woff, woff2, etc., para compatibilidad con navegadores */
}

@font-face {
    font-family: 'GothamBook';
    src: url('https://palmasbiweb.surge.sh/Fonts/gothambook-font.otf') format('truetype');
    /* Ajusta la ruta y el formato según tu archivo de fuente */
    /* Puedes agregar otros formatos como woff, woff2, etc., para compatibilidad con navegadores */
}

@font-face {
    font-family: 'GothamLight';
    src: url('https://palmasbiweb.surge.sh/Fonts/gothamlight-font.otf') format('truetype');
    /* Ajusta la ruta y el formato según tu archivo de fuente */
    /* Puedes agregar otros formatos como woff, woff2, etc., para compatibilidad con navegadores */
}